<body>
 <div class="alinhamento">
    <a class="ghost-button" href="https://acrobat.adobe.com/id/urn%3Aaaid%3Asc%3AVA6C2%3A4a80ccfb-e569-4335-b972-4015316cf8f9/?filetype=application%2Fpdf&viewer%21megaVerb=group-discover" target="_blank">OPALA -></a>
    <a class="ghost-button-two" href="https://acrobat.adobe.com/id/urn%3Aaaid%3Asc%3AVA6C2%3A345da4d1-ef5f-418c-a30a-50c64905479f/?filetype=application%2Fpdf&viewer%21megaVerb=group-discover" target="_blank">M ARTE -></a>
 </div>
    <a class="logo-base"><img src ="{{logo}}"/></a>
</body>

